<div class="container-fluid navbar-vertical">
  <div class="row flex-nowrap">
<div class="col-sm-2 col-md-2 col-xl-2" style="background-color:#215275; ">
       
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <a href="#candidatesCollapse" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-person text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Candidates</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="candidatesCollapse" data-bs-parent="#menu">
                            <li class="ms-4">
                                <a href="/candidates/show-candidates" class="nav-link px-0"> <i class="fs-6 bi bi-people text-white"></i> &nbsp; <span class="d-none d-sm-inline text-white">Show Candidates </span></a>
                            </li>
                            <li class="ms-4">
                                <a href="/candidates/add" class="nav-link px-0"> <i class="fs-6 bi bi-person-plus text-white"></i>&nbsp; <span class="d-none d-sm-inline text-white" >Add Candidate</span> </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#elecperCollapse" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-calendar-event text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Elections</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="elecperCollapse" data-bs-parent="#menu">
                            <li class="ms-4">
                                <a href="elections/all" class="nav-link px-0"> <i class="fs-6 bi bi-calendar-range text-white"></i>&nbsp; <span class="d-none d-sm-inline text-white">Show Elections</span> </a>
                            </li>
                            <li class="ms-4">
                                <a href="elections/add" class="nav-link px-0"> <i class="fs-6 bi bi-calendar-plus text-white"></i> &nbsp;<span class="d-none d-sm-inline text-white">Add Election </span> </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                      <a href="#searchCollapse" data-bs-toggle="collapse" class="nav-link px-0 align-middle" style="color: white;">
                          <i class="fs-4 bi bi-search"></i> <span class="ms-1 d-none d-sm-inline">Search</span> </a>
                      <ul class="collapse show nav flex-column ms-1" id="searchCollapse" data-bs-parent="#menu">
                          <li class="ms-4">
                          <a href="candidates/search-name" class="nav-link px-0"> <i class="fs-6 bi bi-person-badge"></i>  &nbsp; <span class="d-none d-sm-inline">Search Candidate</span>  </a>
                          </li>
                          <li class="ms-4">
                              <a href="candidates/search-position" class="nav-link px-0"> <i class="fs-6 bi bi-list-task"></i>  &nbsp; <span class="d-none d-sm-inline">Search by Position</span>  </a>
                          </li>
                          <li class="ms-4">
                              <a href="candidates/search-party" class="nav-link px-0"> <i class="fs-6 bi bi-collection-fill"></i>  &nbsp; <span class="d-none d-sm-inline">Search by Party</span>  </a>
                          </li>
                      </ul>
                  </li>
                <li>
                    <a href="/login" data-bs-toggle="collapse" style="color:white;" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-box-arrow-left"></i> <span class="ms-1 d-none d-sm-inline">Log out</span> </a>
                  </li>
            </ul>
          </div>
          </div>
        
        <div class="main-content container-fluid col py-3">
          <div class="row">
            <div class="col-12 col-sm-9">
              <h1 class="main-color"> ELECTIONS </h1>
            </div>
            <div class="col-12 col-sm-3">
              <a href="elections/add" class="btn btn-main" style="float:right">Add election <i class="fs-6 bi-plus"></i></a>
            </div>
          </div>
  
          <hr />
  
          <div class="list-group list-group-flush election-list">
            <a *ngFor="let election of elections" class="list-group-item list-group-item-action" aria-current="true">
              <div class="d-flex w-100 justify-content-between">
                <h2 class="mb-1 main-color"> {{ election.name }}</h2>
                <small>
                  <a href="#elec-arc-modal-{{election.elecper_id}}" data-toggle="modal" data-target="#elec-arc-modal-{{election.elecper_id}}" ><i class="fs-5 bi bi-archive-fill" style="margin-right: 10px;"></i></a>
                  <a href="elections/edit/{{election.elecper_id}}"> <i class="fs-5 bi bi-pencil-fill" style="margin-right: 10px;"></i> </a>
                  <a href="#elec-del-modal-{{election.elecper_id}}" data-toggle="modal" data-target="#elec-del-modal-{{election.elecper_id}}" ><i class="fs-5 bi bi-trash-fill"></i> </a>
                </small>
              </div>
              <p class="mb-0"><b>{{election.fdate}}</b></p>
              <small *ngIf="election.archived; else activeArchived">Archived</small>
              <ng-template #activeArchived>Active</ng-template>
              <br>
            </a>
          </div> <!--list group -->
        </div> <!--main-content -->
        <br><br>
  
      </div> <!-- nav row -->

        <!--delete modal-->
        <a *ngFor="let election of elections" style="text-decoration: none;"> 
        <div class="modal fade election-list" id="elec-del-modal-{{election.elecper_id}}">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">  
                      <h4 style="color: black"> Delete Election Period </h4>
                  </div>
                  <div class="modal-body" >
                      <p style="text-align: center; font-size: 20px; color: black;"> Are you sure you want to delete <br> election name: {{ election.name }} </p>
                  </div>
                  <div class="modal-footer">
                      <div class="container">
                          <div class="row">
                          <span>
                          <!-- back button -->
                          <a href="/elections/all"> <input class="btn col-md-6" style="background-color: #215275; color: #fff; margin-left: -10px; margin-right: 10px;" data-dismiss="modal" value="Back"> </a>
                          <!-- delete button -->
                          <a href="/elections/all"> <input class="btn btn-danger col-md-6" style="margin-left: 10px; margin-right: -10px;" (click)="onClickDelete(election.elecper_id)" value="Delete"> </a>
                          </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </a>

        <!--archive modal-->
        <a *ngFor="let election of elections"> 
            <div class="modal fade election-list" id="elec-arc-modal-{{election.elecper_id}}">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">  
                        <h4 style="color: black"> Archive Election Period </h4>
                      </div>
                      <div class="modal-body" >
                        <p style="text-align: center; font-size: 20px; color: black"> Are you sure you want to archive <br> election period: {{election.name}} </p>
                      </div>
                      <div class="modal-footer">
                          <div class="container">
                              <div class="row">
                              <span>
                              <!-- back button -->
                              <a href="/elections/all"> <input class="btn col-md-6" style="background-color: #215275; color: #fff; margin-left: -10px; margin-right: 10px;" data-dismiss="modal" value="Back"> </a>
                              <!-- delete button -->
                              <a href="/elections/all"> <input class="btn btn-danger col-md-6" style="margin-left: 10px; margin-right: -10px;" (click)="onClickArchive(election.elecper_id)" value="Archive"> </a>
                              </span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </a>
  </div> <!--nav-->   