<div class="container-fluid navbar-vertical">
    <div class="row "  >
        <div class="col-sm-2 col-md-2 col-xl-2" style="background-color:#215275; ">
       
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li *ngIf="is_admin">
                        <a href="#candidatesCollapse" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-person text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Candidates</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="candidatesCollapse" data-bs-parent="#menu">
                            <li class="ms-4">
                                <a href="/candidates/show-candidates" class="nav-link px-0"> <i class="fs-6 bi bi-people text-white"></i> <span class="d-none d-sm-inline text-white">Show candidates </span></a>
                            </li>
                            <li class="ms-4">
                                <a href="#" class="nav-link px-0"> <i class="fs-6 bi bi-person-plus text-white"></i> <span class="d-none d-sm-inline text-white" >Add candidate</span> </a>
                            </li>
                        </ul>
                    </li>
                    <li *ngIf="is_admin">
                        <a href="#elecperCollapse" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-calendar-event text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Elections</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="elecperCollapse" data-bs-parent="#menu">
                            <li class="ms-4">
                                <a href="#" class="nav-link px-0"> <i class="fs-6 bi bi-calendar-range text-white"></i> <span class="d-none d-sm-inline text-white">Show  elections</span> </a>
                            </li>
                            <li class="ms-4">
                                <a href="#" class="nav-link px-0"> <i class="fs-6 bi bi-calendar-plus text-white"></i> <span class="d-none d-sm-inline text-white">Add election </span> </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                      <a href="#searchCollapse" data-bs-toggle="collapse" class="nav-link px-0 align-middle" style="color: white;">
                          <i class="fs-4 bi bi-search"></i> <span class="ms-1 d-none d-sm-inline">Search</span> </a>
                      <ul class="collapse show nav flex-column ms-1" id="searchCollapse" data-bs-parent="#menu">
                          <li class="ms-4">
                          <a href="candidates/search-name" class="nav-link px-0"> <i class="fs-6 bi bi-person-badge"></i>  &nbsp; <span class="d-none d-sm-inline">Search Candidate</span>  </a>
                          </li>
                          <li class="ms-4">
                              <a href="candidates/search-position" class="nav-link px-0"> <i class="fs-6 bi bi-list-task"></i>  &nbsp; <span class="d-none d-sm-inline">Search by Position</span>  </a>
                          </li>
                          <li class="ms-4">
                              <a href="candidates/search-party" class="nav-link px-0"> <i class="fs-6 bi bi-collection-fill"></i>  &nbsp; <span class="d-none d-sm-inline">Search by Party</span>  </a>
                          </li>
                      </ul>
                  </li>
                  <li>
                    <a href="/login" style="color:white;" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-box-arrow-left"></i> <span class="ms-1 d-none d-sm-inline">Log out</span> </a>
                  </li>
                </ul>      
              </div>
          </div>
        <div class="col-sm-2 col-md-10 col-xl-10" style="background-color:#E8E8E8; padding:40px;">
            <div class = "container-fluid header" style="margin-left: -15px;">
            <p class = "p1"> SEARCH </p>
            </div>
            <hr>
            <br>
            
            <div class = "container-fluid d-flex justify-content-center">
                <form class="d-flex col-sm-4 col-md-12 col-xl-10" >
                    <input class="form-control me-2" (ngModelChange)="searchCandidates(key.value)" #key = "ngModel" ngModel name = "key" id = "search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>

                <div class="input-group mb-0 col-sm-6 col-md-6 col-xl-4" style="margin-left:30px;">
                  <input type="text" class="form-control" aria-label="Text input with dropdown button">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Election</button>
                  <ul class="dropdown-menu dropdown-menu-end" role = "menu" name = "filter" id = "filter">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                  </ul>
                </div>
                </form>
            </div>
            
            <br>
            
            <div class="row d-flex justify-content-center">
                <div *ngFor="let candidate of results" class="card col-12 ms-2 me-2 mb-3" >
                    <div class="row">
                        <div class="col-md-2" style="padding:0px;">
                        <img src="assets/candidates/{{candidate.image_path}}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-10 d-flex align-items-stretch" style="padding:0px;">
                        <div class="card-body">
                          <h5 class="card-title">{{candidate.last_name | uppercase }}, {{candidate.first_name | titlecase}} {{candidate.middle_initial}}. </h5>
                          <p class="card-text"><b class="main-color">Platforms:</b> Better healthcare system, provide educational support to the marginalized, address the needs of farmers and fishermen.</p>
                          <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                        <div class="card-footer text-muted">
                          <a href="/candidates/show/{{candidate.id}}"> <i class="fs-5 bi bi-info-circle-fill" style="color: #6c757d;"> </i> </a>
                        </div> <!-- footer -->
                      </div>
                    </div>
                  </div> <!-- card -->
        </div>		
    </div>
</div>