<div class="container-fluid " style="float:left;">
    <div class="row" style="height:100vh;">
        <div class="col-sm-2 col-md-2 col-xl-2" style="background-color:#215275; ">
       
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-5 d-none d-sm-inline">Menu</span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
              <li>
                  <a href="#candidatesCollapse" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                      <i class="fs-4 bi-person text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Candidates</span> </a>
                  <ul class="collapse show nav flex-column ms-1" id="candidatesCollapse" data-bs-parent="#menu">
                      <li class="ms-4">
                          <a href="#" class="nav-link px-0"> <i class="fs-6 bi bi-people text-white"></i> <span class="d-none d-sm-inline text-white">Show candidates </span></a>
                      </li>
                      <li class="ms-4">
                          <a href="#" class="nav-link px-0"> <i class="fs-6 bi bi-person-plus text-white"></i> <span class="d-none d-sm-inline text-white" >Add candidate</span> </a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="#elecperCollapse" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                      <i class="fs-4 bi-calendar-event text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Elections</span> </a>
                  <ul class="collapse show nav flex-column ms-1" id="elecperCollapse" data-bs-parent="#menu">
                      <li class="ms-4">
                          <a href="#" class="nav-link px-0"> <i class="fs-6 bi bi-calendar-range text-white"></i> <span class="d-none d-sm-inline text-white">Show  elections</span> </a>
                      </li>
                      <li class="ms-4">
                          <a href="#" class="nav-link px-0"> <i class="fs-6 bi bi-calendar-plus text-white"></i> <span class="d-none d-sm-inline text-white">Add election </span> </a>
                      </li>
                  </ul>
              </li>
          </ul>
<hr>
          <div class="dropdown pb-4">
              <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="d-none d-sm-inline mx-1">user</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
          </div>

        </div>
    </div>
        <div class="col-sm-2 col-md-10 col-xl-10" style="background-color:#E8E8E8; padding:40px;">
            <div class = "container-fluid header" style="margin-left: -15px;">
            <p class = "p1"> SEARCH </p>
            </div>
            <hr>
            <br>
            
            <div class = "container-fluid d-flex justify-content-center">
                <form class="d-flex col-sm-4 col-md-12 col-xl-10" >
                    <select class="form-select" aria-label="Default select example" name = "party" id = "partySelect">
                        <option *ngFor="let party of parties" (click)="searchCandidates()" value= "{{party}}">{{party}}</option>
                        <option (click)="searchCandidates()" value= "Any party" selected>Any party</option>
                    </select>

                    <div class="input-group mb-0 col-sm-6 col-md-6 col-xl-4" style="margin-left:30px;">
                        <select class="form-select" aria-label="Default select example" id = "elecperSelect">
                            <option *ngFor="let elecper of elecpers" (click)="setParties(elecper)" value="{{elecper.name}}">
                                {{elecper.name}}</option>
                        </select>
                    </div>
                </form>
            </div>
            
            <br>
            
            <div class="row d-flex justify-content-center">
                <div *ngFor="let candidate of results" class="card col-12 ms-2 me-2 mb-3" >
                    <div class="row">
                      <div class="col-md-4" style="padding:0px;">
                        <img src="assets/candidates/{{candidate.image_path}}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8 d-flex align-items-stretch" style="padding:0px;">
                        <div class="card-body">
                          <h5 class="card-title">{{candidate.last_name | uppercase }}, {{candidate.first_name | titlecase}} {{candidate.middle_initial}}. </h5>
                          <p class="card-text"><b class="main-color">Party:</b></p>
                          <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                        <div class="card-footer text-muted">
                          <i class="fs-5 bi bi-info-circle-fill"></i>
                          <i class="fs-5 bi bi-pencil-fill"></i>
                          <i class="fs-5 bi bi-trash-fill"></i>
                        </div> <!-- footer -->
                      </div>
                    </div>
                  </div> <!-- card -->
        </div>		
    </div>
</div>
