body {
    background-color: white;
    max-width: 100%;
    overflow-x:hidden;
  }
  
  .bg-dark {
    background-color: #215275 !important;
  }
  
  .btn-main {
    background-color: #215275;
  }
  
  .card-title, .main-color {
    color: #215275;
    font-weight: bold;
  }
  
  .card i:hover, .election-list i:hover {
    color: #215275;
  }
  
  .election-list a{
    color: #495057 !important;
  }
  
  .list-group-item {
    margin-bottom: 1.5rem;
    padding: 30px;
    border-left: 10px solid #215275 !important;
  }
  
  .main-content {
    margin: 50px;
  }
  
  .navbar-vertical a {
    color: white;
  }

  .navbar-vertical a:hover {
    color: white !important;
    text-decoration: underline;
  }
  
  .checkhack {
    display: none;
  }
  
  #menuu {
    display: none;
  }
  
  #menuutoggle:checked + #menuu {
    display: block;
  }

  .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    font-size: 1px;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #215275;
    border-style: none;
    font-size: 30px;
  }