<div class="container-fluid " style="float:left;">
    <div class="row" style="height:100vh;">
        <div class="col-sm-2 col-md-2 col-xl-2" style="background-color:#215275; ">
       
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-5 d-none d-sm-inline">Menu</span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
              <li>
                  <a href="#candidatesCollapse" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                      <i class="fs-4 bi-person text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Candidates</span> </a>
                  <ul class="collapse show nav flex-column ms-1" id="candidatesCollapse" data-bs-parent="#menu">
                      <li class="ms-4">
                          <a href="candidates/show-candidates" class="nav-link px-0"> <i class="fs-6 bi bi-people text-white"></i> &nbsp;<span class="d-none d-sm-inline text-white">Show Candidates </span> </a>
                      </li>
                      <li class="ms-4">
                          <a href="candidates/add" class="nav-link px-0"> <i class="fs-6 bi bi-person-plus text-white"></i>&nbsp; <span class="d-none d-sm-inline text-white" >Add Candidate</span> </a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="#elecperCollapse" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                      <i class="fs-4 bi-calendar-event text-white"></i> <span class="ms-1 d-none d-sm-inline text-white">Elections</span> </a>
                  <ul class="collapse show nav flex-column ms-1" id="elecperCollapse" data-bs-parent="#menu">
                      <li class="ms-4">
                          <a href="elections/all" class="nav-link px-0"> <i class="fs-6 bi bi-calendar-range text-white"></i> &nbsp;<span class="d-none d-sm-inline text-white">Show Elections</span> </a>
                      </li>
                      <li class="ms-4">
                          <a href="elections/add" class="nav-link px-0"> <i class="fs-6 bi bi-calendar-plus text-white"></i> &nbsp;<span class="d-none d-sm-inline text-white">Add Election </span> </a>
                      </li>
                  </ul>
              </li>
          </ul>
            <hr>
            <label for="menuutoggle" class="checklabel">user &nbsp;<i class="arrow down"></i></label>
            <input id="menuutoggle" class="checkhack" type="checkbox" />
            <ul id="menuu">
            <li style="list-style: none"><a href="#" style="color:white">Sign Out</a></li>
            </ul>

        </div>
    </div>
        <div class="col-sm-2 col-md-10 col-xl-10" style="background-color:#E8E8E8; padding:40px;">
            <div class = "container-fluid header" style="margin-left: -15px;">
            <p class = "p1"> SEARCH </p>
            </div>
            <hr>
            <br>
            
            <div class = "container-fluid d-flex justify-content-center">
                <form class="d-flex col-sm-4 col-md-12 col-xl-10" >
                    <select class="form-select" aria-label="Default select example" name = "position" id = "positionSelect">
                        <option *ngFor="let position of positions" (click)="searchCandidates()" value= "{{position}}">{{position}}</option>
                        <option (click)="searchCandidates()" value= "Any position" selected>Any position</option>
                    </select>

                    <div class="input-group mb-0 col-sm-6 col-md-6 col-xl-4" style="margin-left:30px;">
                        <select class="form-select" aria-label="Default select example" id = "elecperSelect">
                            <option *ngFor="let elecper of elecpers" (click)="setPositions(elecper)" value="{{elecper.name}}">
                                {{elecper.name}}</option>
                        </select>
                    </div>
                </form>
            </div>
            
            <br>
            
            <div class="row d-flex justify-content-center">

                <div *ngFor="let campaign of results" class="card col-12 ms-2 me-2 mb-3" >
                    <div class="row">
                      <div class="col-md-2" style="padding:0px;">
                        <img src="assets/candidates/{{campaign.candidate.image_path}}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-10 d-flex align-items-stretch" style="padding:0px;">
                        <div class="card-body">
                          <h5 class="card-title">{{campaign.candidate.last_name | uppercase }}, {{campaign.candidate.first_name | titlecase}} {{campaign.candidate.middle_initial}}. </h5>
                          <p class="card-text"><b class="main-color">Platforms:</b> {{ campaign.platform }}</p>
                          <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                        <div class="card-footer text-muted">
                          <a href=""> <i class="fs-5 bi bi-info-circle-fill" ></i> </a>
                        </div> <!-- footer -->
                      </div>
                    </div>
                  </div> <!-- card -->
        </div>		
    </div>
</div>
