<div class="container-fluid navbar-vertical">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <a href="#candidatesCollapse" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-person"></i> <span class="ms-1 d-none d-sm-inline">Candidates</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="candidatesCollapse" data-bs-parent="#menu">
                            <li class="ms-4">
                                <a href="candidates/show-candidates" class="nav-link px-0"> <i class="fs-6 bi bi-people"></i> &nbsp; <span class="d-none d-sm-inline">Show Candidates</span>  </a>
                            </li>
                            <li class="ms-4">
                                <a href="candidates/add" class="nav-link px-0"> <i class="fs-6 bi bi-person-plus"></i> &nbsp; <span class="d-none d-sm-inline">Add Candidate</span> </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#elecperCollapse" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-calendar-event"></i> <span class="ms-1 d-none d-sm-inline">Elections</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="elecperCollapse" data-bs-parent="#menu">
                            <li class="ms-4">
                                <a href="elections/all" class="nav-link px-0"> <i class="fs-6 bi bi-calendar-range"></i>  &nbsp; <span class="d-none d-sm-inline">Show Elections</span>  </a>
                            </li>
                            <li class="ms-4">
                                <a href="elections/add" class="nav-link px-0"> <i class="fs-6 bi bi-calendar-plus"></i>  &nbsp; <span class="d-none d-sm-inline">Add Election</span>  </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <hr>
                <label for="menuutoggle" class="checklabel">user &nbsp;<i class="arrow down"></i></label>
                  <input id="menuutoggle" class="checkhack" type="checkbox" />
                  <ul id="menuu">
                    <li style="list-style: none"><a href="/login">Sign Out</a></li>
                  </ul>
        
            </div>
        </div>
        <div class="main-content container-fluid col py-3">
          <div class="row">
            <div class="col-12 col-sm-9">
              <h1 class="main-color"> CANDIDATES </h1>
            </div>
            <div class="col-12 col-sm-3">
              <a href="candidates/add" class="btn btn-main" style="float: right;">Add Candidate <i class="fs-6 bi-plus"></i></a>
            </div>
          </div>
          
          <hr />
          <div class="row d-flex justify-content-center">
            <div *ngFor="let candidate of candidates" class="card col-12 col-sm-12 col-xl-5 ms-2 me-2 mb-3" >
                <div class="row">
                  <div class="col-md-4" style="padding:0px;">
                    <img src="../../../../assets/candidates/{{candidate.image_path}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8 d-flex align-items-stretch" style="padding:0px;">
                    <div class="card-body">
                      <h5 class="card-title">{{candidate.last_name | uppercase }}, {{candidate.first_name | titlecase}} {{candidate.middle_initial}}. </h5>
                      <p class="card-text mb-0"><b class="main-color">{{candidate.degree}}</b></p>
                      <p class="card-text"><small class="text-muted">{{candidate.university}}</small></p>
                    </div>
                    <div class="card-footer text-muted">
                      <i class="fs-5 bi bi-info-circle-fill" (click)="onClickInfo(candidate.id)"></i>
                      <i class="fs-5 bi bi-pencil-fill" (click)="onClickEdit(candidate.id)"></i>
                      <i class="fs-5 bi bi-trash-fill" (click)="onClickDelete(candidate.id)"></i>
                    </div> <!-- footer -->
                  </div>
                </div>
              </div> <!-- card -->
          </div> <!-- row -->
        </div>